In [1]:
import pandas as pd

caminho  = r'TODOSCNPJATIVOS.csv'

dados = pd.read_csv(caminho)

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224373 entries, 0 to 2224372
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   codigo_ibge    int64
 1   categoria      int64
 2   cod_cnae       int64
 3   ano_atividade  object
 4   cod_uf         int64
 5   ativas         int64
 6   mei            int64
dtypes: int64(6), object(1)
memory usage: 118.8+ MB

In [4]:
dados['ano_atividade'].unique()

array(['2022-03-01', '2022-04-01', '2020-09-01', '2020-10-01',
       '2022-10-01', '2017-09-01', '2017-10-01', '2019-02-01',
       '2019-03-01', '2017-01-01', '2017-02-01', '2022-08-01',
       '2022-09-01', '2017-07-01', '2017-08-01', '2019-07-01',
       '2019-08-01', '2019-04-01', '2018-04-01', '2018-05-01',
       '2021-11-01', '2021-12-01', '2021-08-01', '2021-09-01',
       '2020-11-01', '2020-02-01', '2020-03-01', '2020-01-01',
       '2022-07-01', '2021-10-01', '2022-02-01', '2021-06-01',
       '2021-07-01', '2019-01-01', '2017-06-01', '2018-02-01',
       '2018-03-01', '2017-03-01', '2017-04-01', '2018-09-01',
       '2018-10-01', '2018-07-01', '2018-08-01', '2017-12-01',
       '2018-01-01', '2022-01-01', '2021-03-01', '2022-05-01',
       '2022-06-01', '2020-04-01', '2020-05-01', '2019-12-01',
       '2020-06-01', '2020-07-01', '2019-10-01', '2019-11-01',
       '2020-08-01', '2018-06-01', '2021-01-01', '2021-02-01',
       '2019-09-01', '2019-05-01', '2017-05-01', '2021-05-01',
       '2020-12-01', '2018-11-01', '2018-12-01', '2021-04-01',
       '2019-06-01', '2017-11-01'], dtype=object)

In [10]:
dados = dados.loc[dados['ano_atividade']== '2022-10-01']

In [3]:

""""
11	RO
12	AC
13	AM
14	RR
15	PA
16	AP
17	TO
21	MA
22	PI
23	CE
24	RN
25	PB
26	PE
27	AL
28	SE
29	BA
31	MG
32	ES
33	RJ
35	SP
41	PR
42	SC
43	RS
50	MS
51	MT
52	GO
53	DF
"""
dados['cod_uf'].unique()

array([42, 43, 50, 51, 52, 11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25,
       26, 53, 27, 28, 29, 31, 32, 33, 35, 41], dtype=int64)

In [11]:
Estado = {'Estado': []}
for i in dados['cod_uf']:
    match i:
        case 42:
            Estado['Estado'].append('SC')
        case	43	:	
            Estado['Estado'].append('RS')
        case	50	:	
            Estado['Estado'].append('MS')
        case	51	:	
            Estado['Estado'].append('MT')
        case	52	:	
            Estado['Estado'].append('GO')
        case	11	:	
            Estado['Estado'].append('RO')
        case	12	:	
            Estado['Estado'].append('AC')
        case	13	:	
            Estado['Estado'].append('AM')
        case	14	:	
            Estado['Estado'].append('RR')
        case	15	:	
            Estado['Estado'].append('PA')
        case	16	:	
            Estado['Estado'].append('AP')
        case	17	:	
            Estado['Estado'].append('TO')
        case	21	:	
            Estado['Estado'].append('MA')
        case	22	:	
            Estado['Estado'].append('PI')
        case	23	:	
            Estado['Estado'].append('CE')
        case	24	:	
            Estado['Estado'].append('RN')
        case	25	:	
            Estado['Estado'].append('PB')
        case	26	:	
            Estado['Estado'].append('PE')
        case	53	:	
            Estado['Estado'].append('DF')
        case	27	:	
            Estado['Estado'].append('AL')
        case	28	:	
            Estado['Estado'].append('SE')
        case	29	:	
            Estado['Estado'].append('BA')
        case	31	:	
            Estado['Estado'].append('MG')
        case	32	:	
            Estado['Estado'].append('ES')
        case	33	:	
            Estado['Estado'].append('RJ')
        case	35	:	
            Estado['Estado'].append('SP')
        case	41	:	
            Estado['Estado'].append('PR')
        
len(Estado['Estado'])

33662

In [12]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33662 entries, 6323 to 2156633
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codigo_ibge    33662 non-null  int64
 1   categoria      33662 non-null  int64
 2   cod_cnae       33662 non-null  int64
 3   ano_atividade  33662 non-null  object
 4   cod_uf         33662 non-null  int64
 5   ativas         33662 non-null  int64
 6   mei            33662 non-null  int64
dtypes: int64(6), object(1)
memory usage: 2.1+ MB

In [38]:
cidades = {'cidades': []}
for i in dados['codigo_ibge']:
    if  i ==	5107206	:	
        cidades['cidades'].append(' RIO BRANCO')
    elif i == 	3205309	:	
        cidades['cidades'].append(' VITÓRIA')
    elif i == 	2606200	:	
        cidades['cidades'].append(' GOIANIA')
    elif i == 	3550308	:	
        cidades['cidades'].append(' SÃO PAULO')
    elif i == 	3304557	:	
        cidades['cidades'].append(' RIO DE JANEIRO')
    elif i == 	3106200	:	
        cidades['cidades'].append(' BELO HORIZONTE')
    elif i == 	2800308	:	
        cidades['cidades'].append(' ARACAJU')
    elif i == 	2611606	:	
        cidades['cidades'].append(' RECIFE')
    elif i == 	2927408	:	
        cidades['cidades'].append(' SALVADOR')
    elif i == 	1302603	:	
        cidades['cidades'].append(' MANAUS')
    elif i == 	2700805	:	
        cidades['cidades'].append(' BELEM')
    elif i == 	4205407	:	
        cidades['cidades'].append(' FLORIANÓPOLIS')
    elif i == 	4106902	:	
        cidades['cidades'].append(' CURITIBA')
    elif i == 	4314902	:	
        cidades['cidades'].append(' PORTO ALEGRE')
    elif i == 	2111300	:	
        cidades['cidades'].append(' SÃO LUIS')
    elif i == 	1600303	:	
        cidades['cidades'].append(' MACAPÁ')
    elif i == 	2704302	:	
        cidades['cidades'].append(' MACEIÓ')
    elif i == 	2304400	:	
        cidades['cidades'].append(' FORTALEZA')
    elif i == 	5300108	:	
        cidades['cidades'].append(' BRASÍLIA')
    elif i == 	5103403	:	
        cidades['cidades'].append(' CUIABÁ')
    elif i == 	5002704	:	
        cidades['cidades'].append(' CAMPO GRANDE')
    elif i == 	2507507	:	
        cidades['cidades'].append(' JOÃO PESSOA')
    elif i == 	2211001	:	
        cidades['cidades'].append(' TERESINA')
    elif i == 	2408102	:	
        cidades['cidades'].append(' NATAL')
    elif i == 	1100205	:	
        cidades['cidades'].append(' PORTO VELHO')
    elif i == 	1721000	:	
        cidades['cidades'].append(' PALMAS')
    elif i == 	1400100	:	
        cidades['cidades'].append(' BOA VISTA')
    
len(cidades['cidades'])

14532

In [13]:
estabelecimentos = {'estabelecimento': []}
for i in dados['cod_cnae']:
    if  i ==	5611201	:	
        estabelecimentos['estabelecimento'].append('Restaurantes e similares')
    if  i == 5611203:
        estabelecimentos['estabelecimento'].append('Lanchonetes casas de chá de sucos e similares')
    if  i == 5611204: 
        estabelecimentos['estabelecimento'].append('Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento')
    if  i == 5611205: 
        estabelecimentos['estabelecimento'].append('Bares e outros estabelecimentos especializados em servir bebidas com entretenimento')
len(estabelecimentos['estabelecimento'])

33662

In [14]:
dados['cidade'] = Estado['Estado']
dados['tipo_estabelecimento'] = estabelecimentos['estabelecimento']

C:\Users\ABRASEL NACIONAL\AppData\Local\Temp\ipykernel_10856\3658114035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['cidade'] = Estado['Estado']
C:\Users\ABRASEL NACIONAL\AppData\Local\Temp\ipykernel_10856\3658114035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['tipo_estabelecimento'] = estabelecimentos['estabelecimento']

In [15]:
dados.head()

,codigo_ibge,categoria,cod_cnae,ano_atividade,cod_uf,ativas,mei,cidade,tipo_estabelecimento
6323,2109809,5,5611203,2022-10-01,21,8,0,MA,Lanchonetes casas de chá de sucos e similares
6324,2110856,5,5611201,2022-10-01,21,6,1,MA,Restaurantes e similares
6325,2112704,5,5611204,2022-10-01,21,2,1,MA,Bares e outros estabelecimentos especializados...
6326,2200459,5,5611203,2022-10-01,22,12,1,PI,Lanchonetes casas de chá de sucos e similares
6327,2201002,5,5611203,2022-10-01,22,1,0,PI,Lanchonetes casas de chá de sucos e similares

In [17]:
dados.to_excel('TODOSCNPJATIVOS_CNAES_E_ESTADOS.xlsx', index=False)